*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App{
    text-align: center;
}

.TodoForm {
    width: 100%;
    margin-bottom: 1rem;
}

.todo-input{
    outline: none;
    background: none;
    border: 1px solid rgb(59, 154, 59);
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: white;
}

.todo-input::placeholder{
    color: #ffffff4d;
}

.task{
    margin-top: 1rem;
    font-size: 20px;
    cursor: pointer;
}

.completed{
    color: #c5aeff;
    text-decoration: line-through;
}

.TodoWrapper{
    background-color: rgb(6, 73, 6);
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.ListaH1{
    color: white;
}

.Todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(97, 216, 97);
    color: black;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}